stages:
  - current
  - compat

variables:
  PYTHONPATH: /ci/repos/mercurial

before_script:
  - apt-get update
  - apt-get -y install git-core subversion subversion-tools openssh-client
  - PYTHONPATH= pip install --user dulwich==0.19.13

tests-hg-default:
    stage: compat
    image: octobus/ci-py2-hgext3rd
    script:
        - PYTHONPATH= hg pull -R /ci/repos/mercurial/ --rev default
        - PYTHONPATH= hg -R /ci/repos/mercurial/ update default
        - PYTHONPATH= hg -R /ci/repos/mercurial summary
        - make -C /ci/repos/mercurial local
        - cp /ci/repos/mercurial/hg .
        - tests/run-tests.py -lv --color=always

tests-hg-stable:
    stage: compat
    image: octobus/ci-py2-hgext3rd
    script:
        - PYTHONPATH= hg pull -R /ci/repos/mercurial/ --rev stable
        - PYTHONPATH= hg -R /ci/repos/mercurial/ update stable
        - PYTHONPATH= hg -R /ci/repos/mercurial summary
        - make -C /ci/repos/mercurial local
        - cp /ci/repos/mercurial/hg .
        - tests/run-tests.py -lv --color=always

tests-hg-5.3:
    stage: current
    image: octobus/ci-py2-hgext3rd:hg-5.3
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always

tests-hg-5.2:
    stage: compat
    image: octobus/ci-py2-hgext3rd:hg-5.2
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always

tests-hg-5.1:
    stage: compat
    image: octobus/ci-py2-hgext3rd:hg-5.1
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always

tests-hg-5.0:
    stage: compat
    image: octobus/ci-py2-hgext3rd:hg-5.0
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always

tests-hg-4.9:
    stage: compat
    image: octobus/ci-py2-hgext3rd:hg-4.9
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always

tests-hg-4.8:
    stage: compat
    image: octobus/ci-py2-hgext3rd:hg-4.8
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always

tests-hg-4.7:
    stage: compat
    image: octobus/ci-py2-hgext3rd:hg-4.7
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always

tests-hg-4.6:
    stage: compat
    image: octobus/ci-py2-hgext3rd:hg-4.6
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always --extra-config-opt devel.all-warnings=no --extra-config-opt devel.deprec-warn=no

tests-hg-4.5:
    stage: compat
    image: octobus/ci-py2-hgext3rd:hg-4.5
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always

tests-hg-4.4:
    stage: compat
    image: octobus/ci-py2-hgext3rd:hg-4.4
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always

tests-hg-4.3:
    stage: compat
    image: octobus/ci-py2-hgext3rd:hg-4.3
    script:
      - cp /ci/repos/mercurial/hg .
      - ./hg version --debug
      - tests/run-tests.py -lv --color=always
